.u-section-1 {
  background-image: none;
  min-height: 461px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 360px;
  --bottom-right-radius: 10px;
  --top-right-radius: 10px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: Satoshi-Variable;
  font-size: 2.25rem;
  margin: 19px 98px 0 27px;
}

.u-section-1 .u-text-2 {
  font-family: Satoshi-Light;
  font-size: 1.25rem;
  margin: 36px 476px 0 27px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 755px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-5 {
  margin: 0 1px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  margin: 36px 627px 0 27px;
  padding: 10px 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-image-1 {
    --radius: 36px;
    width: 329px;
    height: 261px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 373px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 640px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 75px;
    margin-right: 524px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 230px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 468px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 381px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 698px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-1 .u-image-1 {
    --bottom-right-radius: 36px;
    --top-right-radius: 36px;
    width: 271px;
    height: 215px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 34px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 34px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 34px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 181px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 516px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1264px;
  margin: 17px -122px -17px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 2px;
}

.u-section-2 .u-shape-1 {
  width: 75px;
  height: 75px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Satoshi-Variable;
  font-size: 2.25rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-family: Satoshi-Light;
  margin: 22px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 0.9375rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  font-family: Satoshi-Light;
  margin: 22px auto 0 0;
  padding: 10px 38px;
}

.u-section-2 .u-image-1 {
  min-height: 516px;
  background-image: url("images/handsome-stylish.jpg");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-2 .u-image-1 {
    min-height: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 65px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 361px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 686px;
}

.u-section-3 .u-text-1 {
  font-family: Satoshi-Black;
  font-size: 2.25rem;
  margin: 38px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 38px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 474px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 53px;
  height: 53px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  padding: 15px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 474px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-2 {
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 53px;
  height: 53px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 53px;
  width: 53px;
  background-image: none;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
  padding: 15px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 474px;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-3 {
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-3 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 53px;
  height: 53px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 53px;
  width: 53px;
  background-image: none;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  padding: 15px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 38px 30px 38px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1803px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 248px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-1 {
    height: 119px;
  }

  .u-section-3 .u-icon-1 {
    margin: 20px auto 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-2 {
    height: 119px;
  }

  .u-section-3 .u-icon-2 {
    margin: 30px auto 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-3 {
    height: 119px;
  }

  .u-section-3 .u-icon-3 {
    margin: 30px auto 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 85px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 85px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 85px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 246px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 246px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 246px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1724px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 151px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    font-size: 1.25rem;
  }

  .u-section-3 .u-icon-1 {
    transform: translateX(-50%) translateY(-50%) rotate(270deg);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 151px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 30px;
    font-size: 1.25rem;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 151px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 30px;
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-rotation-parent-3 {
    margin-top: -6px;
  }

  .u-section-3 .u-icon-3 {
    transform: translateX(-50%) translateY(-50%) rotate(270deg);
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 534px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Satoshi-Black;
  margin: 60px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: Satoshi-Light;
  font-size: 1rem;
  margin: 20px 292px 0 25px;
}

.u-section-4 .u-image-1 {
  --radius: 10px;
  width: 92px;
  height: 92px;
  margin: -108px 140px 16px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 38px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(130,233,190,0.7), rgba(130,233,190,0.7)), url("images/wooden-judges-gavel-table-courtroom-enforcement-office-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 439px;
}

.u-section-5 .u-slider-1 {
  min-height: 400px;
  height: auto;
  width: 691px;
  margin: 9px 60px 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  font-family: Satoshi-Light;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-5 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 16px 181px 0 160px;
}

.u-section-5 .u-text-3 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 18px;
  height: 18px;
}

.u-section-5 .u-carousel-control-2 {
  width: 18px;
  height: 18px;
}

.u-section-5 .u-text-7 {
  font-family: Satoshi-Black;
  font-size: 2.25rem;
  margin: -239px 804px 60px 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    min-height: 437px;
    margin-top: 129px;
  }

  .u-section-5 .u-text-2 {
    width: 191px;
    margin-left: 60px;
    margin-right: 81px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -310px;
    margin-right: 620px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    min-height: 483px;
    margin-right: 29px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 21px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -356px;
    margin-right: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 552px;
    margin-top: 152px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-carousel-indicators-1 {
    left: 147px;
    top: auto;
    right: auto;
    bottom: 71px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 21px 6px;
  }

  .u-section-5 .u-text-1 {
    width: 255px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 37px;
    margin-left: 28px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -67px;
    margin-right: 16px;
    margin-left: 121px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 60px;
    margin-left: 132px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 0;
    top: 196px;
    right: auto;
    position: absolute;
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
    top: 196px;
    right: 0;
    position: absolute;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -655px;
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 617px;
}

.u-section-6 .u-group-1 {
  width: 489px;
  min-height: 138px;
  height: auto;
  margin: 62px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  text-transform: none;
  text-align: left;
  font-weight: 700;
  font-family: Satoshi-Black;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  text-align: left;
  font-style: normal;
  margin: 20px 45px 0 0;
}

.u-section-6 .u-image-1 {
  width: 679px;
  height: 426px;
  object-position: 100% 50%;
  background-position: 2.6% 50%;
  margin: -104px -48px 0 auto;
}

.u-section-6 .u-accordion-1 {
  width: 570px;
  margin: -276px auto 59px 0;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-family: Satoshi-Light;
  border-style: solid;
  padding: 25px 30px;
}

.u-section-6 .u-icon-1 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-family: Satoshi-Light;
  border-style: solid;
  padding: 25px 30px;
}

.u-section-6 .u-icon-2 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-family: Satoshi-Light;
  border-style: solid;
  padding: 25px 30px;
}

.u-section-6 .u-icon-3 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-family: Satoshi-Light;
  border-style: solid;
  padding: 25px 30px;
}

.u-section-6 .u-icon-4 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    object-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 339px;
    margin-right: 0;
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
    margin-top: -189px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 263px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-accordion-1 {
    margin-top: -83px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 862px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 32px;
}

.u-section-7 .u-image-1 {
  min-height: 692px;
  background-image: url("images/AdobeStock_173534908-2000x1200.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 749px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-7 .u-form-1 {
  height: 615px;
  width: 616px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  margin-left: 0;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.4;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-form-group-6 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  text-transform: none;
  width: 100%;
  font-weight: 700;
  padding: 11px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-7 .u-image-1 {
    min-height: 571px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-7 .u-form-1 {
    height: 566px;
    width: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-7 .u-image-1 {
    min-height: 715px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-7 .u-image-1 {
    min-height: 536px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    height: 615px;
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 337px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    height: 319px;
    width: 320px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-btn-2 {
    padding: 5px 10px;
  }
}@font-face {
  font-family: 'Satoshi-Variable';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satoshi-Variable.ttf);
}@font-face {
  font-family: 'Satoshi-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satoshi-Light.otf);
}@font-face {
  font-family: 'Satoshi-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satoshi-Black.otf);
}