 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Wall-Legal-Flat-Rate-Divorce-FAQ.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 661px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 206px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 7px;
}

.u-section-1 .u-form-1 {
  height: 140px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 533px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: Satoshi-Light;
}

.u-section-1 .u-label-2 {
  font-family: Satoshi-Light;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: Satoshi-Light;
}

.u-section-1 .u-input-3 {
  --radius: 10px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Satoshi-Light;
}

.u-section-1 .u-input-4 {
  --radius: 10px;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 9px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 9px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-right: 106px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-form-1 {
    width: 456px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -23px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 266px;
    margin-top: 43px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-form-1 {
    height: 598px;
    width: 326px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 775px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 26px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-image-1 {
  min-height: 441px;
  background-image: url("images/AdobeStock_173534908-2000x1200.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 0;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 275px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 3px 213px 0 0;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 16px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 3px 213px 0 0;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 16px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 50px;
  width: 50px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 3px 213px 0 0;
  padding: 16px;
}

.u-section-2 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 279px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 600px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 419px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 58px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 306px;
    grid-auto-columns: calc(33.3333% - 20px);
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    letter-spacing: 1px;
    font-weight: normal;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    letter-spacing: 1px;
    font-weight: normal;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 204px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 36px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 687px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 19px;
  }
}@font-face {
  font-family: 'Satoshi-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satoshi-Light.otf);
}@font-face {
  font-family: 'Satoshi-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satoshi-Black.otf);
}